/*********ensemble des chamgement sur le texte***********/

.marginBody {

    margin: 0px;

}

:root {
    font-family: 'Roboto';
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

/************header version mobile*************/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .imageHeader {
        width: 162px;
    }
}

/*******reservation et bouton version mobile ***********/

.localisation {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    gap: 17px;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.reservation {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 57px;

    .reservationTitle {
        margin: 0;
        width: 75%;
        text-align: center;
        margin-bottom: 15px;
    }

    .reservationDescription {
        width: 85%;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .reservationExplorer {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        padding: 13px 19px;
        color: #FFFF;
        border: none;
    }
}





/*********Fonctionnement version mobile****************/

.fonctionnement {
    display: flex;
    flex-direction: column;

    .fonctionnementTitle {
        margin: 0;
        text-align: left;
        padding: 48px 0px 26px 20px;
    }

    .fonctionnementCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 25px;

        .cardSelection {
            background-color: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            width: 80%;
            height: 72px;
            text-align: center;
            display: flex;
            position: relative;

            &.marginBottomFonctionnement {
                margin-bottom: 54px;
            }


            .chiffreFonctionnement {
                position: absolute;
                display: flex;
                border-radius: 50%;
                border: 1px #9356DC solid;
                width: 25px;
                height: 25px;
                align-items: center;
                justify-content: center;
                color: #F7F7F7;
                background-color: #9356DC;
                top: 23px;
                left: -12px;
            }

            .directionFoctionnementTexteCard {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 27px;
                width: 100%;

                .iconFonctionnement {
                    color: #7E7E7E;
                }


                .fa-store {
                    color: #9356DC;
                }
            }
        }
    }
}






/***************restaurant version mobile ******************/


.restaurant {
    background-color: #F7F7F7;
    padding: 50px 0px;

    .titreRestaurant {
        margin-bottom: 50px;
        /*****@media(max-width: 1200px) {padding-left: 16%;}exemple pour media querry**********/
    }

    .restaurantCard {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .restaurantLienCard {
            text-decoration: none;
            color: #000000;
            width: 100%;
            display: flex;
            justify-content: center;

            .menuCard {
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                height: 251px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 85%;

                .etiquetteRestaurant {
                    display: flex;
                    position: absolute;
                    color: #008766;
                    background-color: #99E2D0;
                    padding: 9px 7px 6px 9px;
                    margin: 10px;
                    border-radius: 2px;
                    right: 40px
                }

                .imgRestaurantCard {
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                }

                .descriptionRestaurant {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .infoRestaurant {
                        .nomRestaurant {
                            margin: 0px;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 21px;
                            padding: 5px 0px;
                        }

                        .villeRestaurant {
                            font-weight: 300;
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}




/*******************Footer version mobile**************/


.footer {

    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;

    .imageFooter {
        width: 137px;
        padding-bottom: 16px;
        color: white;
    }

    .lienFooter {
        text-decoration: none;
        color: #fff;

        .directionFooter {
            display: flex;
            flex-direction: row;
            gap: 11px;
            padding-bottom: 7px;

        }
    }
}


/*******animation********/
/**********page entre acueil**********/
#loader {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 45%;
    animation: loader 2.9s 100ms;
    opacity: 0;


    .one {
        width: 120px;
        height: 120px;
        border: 2px solid #9356DC;
        /* f3f3f3 */
        position: absolute;
        border-radius: 50%;
        border-right: 2px solid #FF79DA;
        border-left: 2px solid #FF79DA;
        -webkit-animation: spin-right 2s linear infinite;
        animation: spin-right 2s linear infinite;
    }

    .two {
        width: 100px;
        height: 100px;
        border: 2px solid #9356DC;
        /* f3f3f3 */
        position: absolute;
        border-radius: 50%;
        margin: 10px;
        border-bottom: 2px solid #FF79DA;
        border-top: 2px solid #FF79DA;
        -webkit-animation: spin-left 1s linear infinite;
        animation: spin-left 1s linear infinite;
    }

    .three {
        width: 80px;
        height: 80px;
        border: 2px solid #9356DC;
        /* f3f3f3 */
        position: absolute;
        border-radius: 50%;
        margin: 20px;
        border-top: 2px solid #FF79DA;
        -webkit-animation: spin-right 1s linear infinite;
        animation: spin-right 1s linear infinite;
    }
}


@keyframes spin-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animationLoader {
    animation: loaderbackg 3.3s;
}

@keyframes loaderbackg {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        transform: rotateY(1440deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotateY(1440deg);
    }
}

/**************coeur*************/


.animationCoeur {
    display: inline-flex;

    .fa-heart {
        font-size: 30px;
    }

    .coeurVide {
        position: relative;
        z-index: 2;
        font-size: 30px;
        opacity: 1;

        &:hover {
            opacity: 0;
        }
    }

    .coeurPlein {
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: all 400ms ease-out;
        color: transparent;

        &:hover {
            opacity: 1;
            background: linear-gradient(to bottom, #FF79DA, #9356DC);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}



/********* version desktop*************/

@media (min-width:1200px) {

    /**********header version desktop**********/

    header {
        padding: 30px 0px;
    }

    /*******fonctionement version desktop************/



    .fonctionnement {


        .fonctionnementTitle {
            padding-left: 18%;
        }

        .fonctionnementCard {
            flex-direction: row;
            margin-bottom: 50px;
            justify-content: center;
            gap: 35px;

            .cardSelection {
                width: 20%;
                position: relative;
                justify-content: center;

                &.marginBottomFonctionnement {
                    margin: 0;
                }


                .chiffreFonctionnement {
                    margin: unset;
                    left: -13px;
                    top: 23px;
                }

                .directionFoctionnementTexteCard {
                    width: 80%;
                }
            }
        }
    }

    /************restaurant version desktop*****************/


    .restaurant {

        .titreRestaurant {
            padding-left: 16%;
        }

        .restaurantCard {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .restaurantLienCard {
                width: 33%;
                margin: 0;

                .menuCard {
                    width: 80%;

                    .etiquetteRestaurant {
                        right: auto;
                    }
                }
            }
        }
    }




    /************footer viersion desktop ************/

    .footer {
        flex-direction: row-reverse;
        padding: 64px 26px 31px;
    }

    .imageFooter {
        padding: 0px 0px 0px 90px;

    }

    .directionFooterDesktop {
        display: flex;
        gap: 25px;
        align-items: flex-end;
    }

    .directionFooter {
        padding: 0;
    }

    .paddingTexteFooter {
        padding: 0;
    }


}